{% extends 'base_page.html' %}

{% block content %}
<form>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Адрес электронной почты</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль">
        <label for="floatingPassword">Пароль</label>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock content %}