{% extends 'base_page.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5 w-25 p-3 border rounded-3 border-2 border-primary-subtle">
        <h4 class="container mb-3 text-primary">Регистрация нового пользователя</h4>
        <form action="{% url 'registration' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
{% endblock content %}