{% extends 'base_page.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container mt-3 w-75 p-3 border rounded-3 border-2 border-primary-subtle bg-warning-subtle">
        <h4 class="container mb-3 text-primary text-center">Вы собираетесь безвозвратно удалить {{ transport_name }} из вашего
            гаража и все связанные с ним записи о тратах!</h4>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

                <button type="submit" class="btn btn-warning">Удалить</button>
                <a href="{% url 'garage' %}">
                    <button type="button" class="btn btn-primary">
                        Отмена
                    </button>
                </a>

        </form>
    </div>

{% endblock content %}