{% extends 'base_page.html' %}

{% block content %}
    {% if request.user.is_authenticated %}

        <h4> Это ваш гараж </h4>
        <a href="{% url 'add_transport' %}">
            <button type="button" class="btn btn-primary btn-lg">
                Добавить транспорт
            </button>
        </a>

        {% if transport_list %}
            <div class="mt-3">

                {% for transport in transport_list %}

                    <div class="card text-bg-light mb-3 border-primary text-primary shadow" style="max-width: 940px;">
                        <div class="row g-0">
                            <div class="col-md-3" style="padding-left: 5px;">
                                <img src="{{ transport.category.image.url }}" class="img-fluid rounded-start"
                                     alt="{{ transport.category }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">

                                    <h5 class="card-title mt-2"> {{ transport }} </h5>

                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item col-3 border-primary">Пробег:</li>
                                        <li class="list-group-item col-3 border-primary">{{ transport.odometer }} км.
                                        </li>
                                        <li class="list-group-item col-3 border-primary">Мощность:</li>
                                        <li class="list-group-item col-3 border-primary">{{ transport.engine_power }}
                                            л.с.
                                        </li>
                                    </ul>

                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item col-3 border-primary">Объем:</li>
                                        <li class="list-group-item col-3 border-primary">{{ transport.engine_volume }}
                                            л.
                                        </li>
                                        <li class="list-group-item col-3 border-primary">Коробка:</li>
                                        <li class="list-group-item col-3 border-primary">{{ transport.transmission_type }}</li>
                                    </ul>

                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item col-3 border-primary">Привод:</li>
                                        <li class="list-group-item col-3 border-primary">{{ transport.drive_type }}</li>
                                        <li class="list-group-item col-3 border-primary">Топливо:</li>
                                        <li class="list-group-item col-3 border-primary">{{ transport.fuel_type }}</li>
                                    </ul>

                                    <div class="container mt-2">

                                        <div class="row justify-content-start">

                                            <div class="col-3">
                                                <form action="{% url 'add_expense' %}" method="get">
                                                    <input type="hidden" name="transport_id" value="{{ transport.id }}">
                                                    <button type="submit" class="btn btn-primary">
                                                        Сделать&nbsp;запись
                                                    </button>
                                                </form>
                                            </div>

                                            <div class="col-2 btn-group">
                                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    Меню
                                                </button>
                                                <ul class="dropdown-menu shadow">
                                                    <li>
                                                        <form action="{% url 'expenses_table' %}" method="get">
                                                            <input type="hidden" name="transport_id"
                                                                   value="{{ transport.id }}">
                                                            <button type="submit" class="dropdown-item">
                                                                Все записи
                                                            </button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form action="{% url 'month_graph_form' %}" method="get">
                                                            <input type="hidden" name="transport_id"
                                                                   value="{{ transport.id }}">
                                                            <button type="submit" class="dropdown-item">
                                                                Диаграммы и графики
                                                            </button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form action="{% url 'delete_transport' %}" method="get">
                                                            <input type="hidden" name="transport_id"
                                                                   value="{{ transport.id }}">
                                                            <button type="submit" class="dropdown-item bg-warning-subtle">
                                                                Удалить транспорт
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="col-3">
                                                <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#collapse{{ transport.id }}"
                                                        aria-expanded="false"
                                                        aria-controls="collapse{{ transport.id }}"> Инфо
                                                </button>
                                            </div>

                                        </div>

                                        <div class="collapse" id="collapse{{ transport.id }}">
                                            <div class="card card-body text-body-secondary mt-2">
                                                <p class="card-text mb-0">
                                                    Транспорт добавлен {{ transport.add_date|date:"d.m.Y H:i" }}
                                                </p>
                                                {% if transport.description %}
                                                    <hr class="m-2">
                                                    <p class="card-text">
                                                        Описание: {{ transport.description }}
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        {% else %}
            <h5 class="mt-3">Вы еще не добавили ни одного транспортного средства...</h5>
        {% endif %}

    {% else %}
        <h4><a href="{% url 'login' %}">Авторизуйтесь</a>, чтобы получить доступ к странице гаража </h4>
    {% endif %}
{% endblock content %}