{% extends 'base_page.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="container w-50 mt-3">
            <h4> Это ваш гараж </h4>
            <a href="{% url 'add_transport' %}">
                <button type="button" class="btn btn-primary btn-lg">
                    Добавить транспорт
                </button>
            </a>

        </div>
    {% else %}
        <div class="container w-50 mt-3">
            <h4><a href="{% url 'login' %}">Авторизуйтесь</a>, чтобы получить доступ к странице гаража </h4>
        </div>
    {% endif %}

{% endblock content %}