{% extends 'base_page.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <h4 class="container mb-3 text-primary">Все траты на {{ transport_name }}</h4>
    <table class="table text-center">
        <thead>
        <tr>
            {% for item in header %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for row in rows %}
            <tr>
                {% for cell in row.values %}
                    <td>
                        {{ cell }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock content %}