<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Car price</title>
</head>
<body>
{% include 'header.html' %}
{% if messages %}
    <div class="container w-50">
        <div class="position-relative top-0 start-50 translate-middle-x w-50">
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="{{ message.tags }}"{% endif %}> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div> {% block content %}{% endblock content %}</div>

<footer> {% block footer %}{% endblock footer %}</footer>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>