<header>
    <nav class="navbar navbar-expand-lg bg-primary-subtle p-0">
        <div class="container w-50">
            <a class="navbar-brand navbar-brand m-0" href="{% url 'main_page' %}">
                <img src="/media/images/logos/logo.png" alt="Logo" width=70
                     class="d-inline-block">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item nav col-4">
                        <a class="nav-link fs-4" href="{% url 'main_page' %}"> Главная </a>
                    </li>
                    <li class="nav-item nav col-4">
                        <a class="nav-link fs-4" href="{% url 'garage' %}"> Гараж </a>
                    </li>
                    {# Ссылка на панель администрирования #}
                    {% if request.user.is_staff %}
                        <li class="nav-item nav col-4">
                            <a class="nav-link fs-4" href="{% url 'admin:index' %}"> Админ </a>
                        </li>
                    {% endif %}
                    {# Варианты отображения страницы в зависимости от состояния авторизации #}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item nav col-4">
                            <a class="nav-link fs-4" href="{% url 'profile' %}"> Профиль </a>
                        </li>
                        <li class="nav-item nav col-4">
                            <a class="nav-link fs-4" href="{% url 'logout' %}"> Выход </a>
                        </li>
                    {% else %}
                        <li class="nav-item nav col-4">
                            <a class="nav-link fs-4" href="{% url 'login' %}"> Вход </a>
                        </li>
                        <li class="nav-item nav col-4">
                            <a class="nav-link fs-4" href="{% url 'registration' %}"> Регистрация </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
