<header>
    <nav class="navbar navbar-expand-lg bg-primary-subtle">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item nav">
                        <a class="nav-link fs-4" href="{% url 'main' %}"> Главная </a>
                    </li>
                    <li class="nav-item nav">
                        <a class="nav-link fs-4" href="{% url 'garage' %}"> Гараж </a>
                    </li>
                    <li class="nav-item nav">
                        <a class="nav-link fs-4" href=""> Личный кабинет </a>
                    </li>
                </ul>
            </div>
            <div>
                <button class="btn btn-outline-primary fs-4" type="button">Вход</button>
                <a href="{% url 'registration' %}">
                    <button class="btn btn-outline-primary fs-4" type="button">Регистрация</button>
                </a>
            </div>
        </div>
    </nav>
</header>
