{% extends 'base_page.html' %}

{% block content %}
<div class="container">
    <h2> Расчет стоимости владения транспортным средством. </h2>
    <p class="fs-5"> Добро пожаловать! На этом сайте реализована возможность удобного добавления и хранения записей о тратах на
    содержание Вашего транспортного средства. В дальнейшем Вы сможете вывести статистику о тратах по месяцам или годам
    в текстовом виде или в виде наглядных диаграмм. Для начала работы с сайтом зарегистрируйтесь и добавьте Ваше
    транспортное средство в "Гараж". </p>
    <p class="fs-6">P.S.: Мы не собираем никаких личных данных о Вас или вашем транспортном средстве</p>
</div>
{% endblock content %}